@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  max-width: 1920px;
  margin: 0 auto;
  color: #1c1c1c;
  font-family: "Proxima Nova Light", sans-serif; }

button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Proxima Nova Bold", sans-serif;
  cursor: pointer; }
  button:focus {
    outline: none; }

ul {
  list-style: none; }

a {
  color: #1c1c1c;
  text-decoration: none; }
  a:hover {
    color: #e42626; }
  a:active {
    color: #1c1c1c; }

.main-button {
  background: -webkit-gradient(linear, left top, right top, from(#c10b0b), to(#e42626));
  background: -webkit-linear-gradient(left, #c10b0b, #e42626);
  background: linear-gradient(90deg, #c10b0b, #e42626); }
  .main-button:hover {
    background: -webkit-gradient(linear, left top, right top, from(#e30d0d), to(#e84646));
    background: -webkit-linear-gradient(left, #e30d0d, #e84646);
    background: linear-gradient(90deg, #e30d0d, #e84646); }
  .main-button:active {
    background: -webkit-gradient(linear, left top, right top, from(#a90a0a), to(#d61b1b));
    background: -webkit-linear-gradient(left, #a90a0a, #d61b1b);
    background: linear-gradient(90deg, #a90a0a, #d61b1b); }

.section-title {
  font-size: 30px;
  font-family: "Proxima Nova Bold", sans-serif; }

.container {
  max-width: 960px;
  height: 100%;
  padding: 0 10px;
  margin: auto; }

@media screen and (max-width: 800px) {
  .container {
    padding: 0 30px; } }

@media screen and (max-width: 560px) {
  .container {
    padding: 0 10px; } }

.header-subnav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 80px;
  margin-top: 50px;
  z-index: 10; }
  .header-subnav__tel {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 18px; }
  .header-subnav__icons {
    display: -webkit-box;
    display: flex; }
    .header-subnav__icons .apple-icon, .header-subnav__icons .android-icon {
      width: 40px;
      height: 40px;
      border: 2px solid #e42626;
      border-radius: 5px;
      margin-left: 10px; }
    .header-subnav__icons .android-icon {
      background: url(../img/android-1.png) no-repeat center;
      background-size: 60%; }
      .header-subnav__icons .android-icon:hover {
        background: #e42626 url(../img/android-2.png) no-repeat center;
        background-size: 60%;
        box-shadow: 0 0 2px 3px rgba(228, 38, 38, 0.2); }
      .header-subnav__icons .android-icon:active {
        background: #e42626 url(../img/android-2.png) no-repeat center;
        background-size: 60%;
        box-shadow: 0 0 1px 1px rgba(228, 38, 38, 0.3); }
    .header-subnav__icons .apple-icon {
      background: url(../img/apple-1.png) no-repeat center;
      background-size: 45%; }
      .header-subnav__icons .apple-icon:hover {
        background: #e42626 url(../img/apple-2.png) no-repeat center;
        background-size: 45%;
        box-shadow: 0 0 2px 3px rgba(228, 38, 38, 0.2); }
      .header-subnav__icons .apple-icon:active {
        background: #e42626 url(../img/apple-2.png) no-repeat center;
        background-size: 45%;
        box-shadow: 0 0 1px 1px rgba(228, 38, 38, 0.3); }

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #f5f5f5;
  background-color: #ffffff; }
  .navigation__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 14px; }
  .navigation__burger {
    display: none;
    background-color: transparent;
    border: none; }
    .navigation__burger .burger-line {
      display: block;
      width: 30px;
      border: 2px solid #e42626;
      border-radius: 20%;
      margin: 3px 0; }
    .navigation__burger_active .burger-line {
      border-color: #f5aeae;
      margin: 6px 0; }
  .navigation__menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-basis: 60%;
    background-color: #ffffff; }
    .navigation__menu li {
      -webkit-box-flex: 1;
      flex-grow: 1;
      text-align: center; }
    .navigation__menu-link {
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 50px;
      border-left: 2px solid #ffffff;
      border-right: 2px solid #ffffff; }
      .navigation__menu-link:hover {
        background: rgba(228, 38, 38, 0.02);
        border-left: 2px solid rgba(228, 38, 38, 0.1);
        border-right: 2px solid rgba(228, 38, 38, 0.1); }
  .navigation__tel {
    align-self: center;
    font-family: "Proxima Nova Bold", sans-serif; }
  .navigation__button {
    font-size: 12px;
    padding: 8px 20px;
    margin: 10px 0; }

@media screen and (max-width: 800px) {
  .header-subnav__text {
    display: none; }
  .header-subnav__tel {
    text-align: right;
    -webkit-box-flex: 1;
    flex-grow: 1; }
  .navigation__container {
    background-color: #ffffff;
    padding: 0 30px; }
  .navigation__tel {
    display: none; }
  .navigation__burger {
    display: block; }
  .navigation__menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 4px -5px #1c1c1c;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: -1; } }

@media screen and (max-width: 560px) {
  .header-subnav__tel {
    display: none; }
  .header-subnav__icons {
    display: -webkit-box;
    display: flex; }
    .header-subnav__icons .apple-icon, .header-subnav__icons .android-icon {
      width: 35px;
      height: 35px; }
  .navigation__container {
    background-color: #ffffff;
    padding: 0 10px; }
  .navigation__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .navigation__menu-link {
      border: none;
      border-top: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff; }
      .navigation__menu-link:hover {
        border: none;
        border-top: 2px solid rgba(228, 38, 38, 0.1);
        border-bottom: 2px solid rgba(228, 38, 38, 0.1); } }

.intro {
  width: 100%;
  height: 610px;
  background: url(../img/intro-bg.jpg) no-repeat center;
  color: #ffffff; }
  .intro-wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 50%;
    height: 100%; }
  .intro__title {
    margin-bottom: 60px;
    line-height: 1.4; }
    .intro__title span {
      text-transform: uppercase;
      font-size: 1.2em; }
  .intro__desc {
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 1.4; }
  .intro__button {
    padding: 25px 40px;
    font-size: 18px;
    align-self: flex-start; }

@media screen and (max-width: 800px) {
  .intro {
    background-position-x: 60%; }
    .intro-wrap {
      width: 80%; } }

@media screen and (max-width: 560px) {
  .intro {
    background-position-x: 65%; }
    .intro-wrap {
      width: 90%; }
    .intro__title {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 40px; }
    .intro__desc {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 40px; }
    .intro__button {
      font-size: 14px;
      padding: 15px 25px; } }
