.reviews
    background-color: $gray-color
    &__categories
        justify-content: space-around
        flex-wrap: wrap
        width: 80%
        margin: 70px auto
    &__slider
        position: relative
        overflow: hidden
        &-business
            display: flex
            justify-content: space-between
            transition: 0.5s
            margin: 0 -15px
        

.video
    position: relative
    min-width: calc(33.33% - 30px)
    margin: 0 15px
    &-resize
        width: 100%
        padding-top: 56.25%
        height: 0
        background-color: #ffffff
    &-content
        position: absolute
        width: 100%
        height: 100%
        border: none
        top: 0
        left: 0
        

@media screen and (max-width: 800px)
    .reviews
        &__categories
            width: 100%
    .video
        min-width: calc(50% - 30px)

@media screen and (max-width: 560px)
    .video
        min-width: calc(100% - 30px)


                
